/*默认样式，最佳实践*/

/*全局属性*/
.markdown-body {
  font-size: 16px;
  color: black;
  padding: 0 10px;
  line-height: 1.6;
  word-spacing: 0px;
  letter-spacing: 0px;
  word-break: break-word;
  word-wrap: break-word;
  text-align: left;
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, 'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* margin-top: -10px; 解决开头空隙过大问题*/
}

/*段落*/
.markdown-body p {
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  line-height: 26px;
  color: black;
}

/*标题*/
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 0px;
  font-weight: bold;
  color: black;
}
.markdown-body h1 {
  font-size: 24px;
}
.markdown-body h2 {
  font-size: 22px;
}
.markdown-body h3 {
  font-size: 20px;
}
.markdown-body h4 {
  font-size: 18px;
}
.markdown-body h5 {
  font-size: 16px;
}
.markdown-body h6 {
  font-size: 16px;
}

.markdown-body h1 .prefix,
.markdown-body h2 .prefix,
.markdown-body h3 .prefix,
.markdown-body h4 .prefix,
.markdown-body h5 .prefix,
.markdown-body h6 .prefix {
  display: none;
}

.markdown-body h1 .suffix
.markdown-body h2 .suffix,
.markdown-body h3 .suffix,
.markdown-body h4 .suffix,
.markdown-body h5 .suffix,
.markdown-body h6 .suffix {
  display: none;
}

/*列表*/
.markdown-body ul,
.markdown-body ol {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 25px;
  color: black;
}
.markdown-body ul {
  list-style-type: disc;
}
.markdown-body ul ul {
  list-style-type: square;
}

.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body li section {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 26px;
  text-align: left;
  color: rgb(1,1,1); /* 只要是纯黑色微信编辑器就会把color这个属性吞掉。。。*/
  font-weight: 500;
}

/*引用*/
.markdown-body blockquote {
  display: block;
  font-size: 0.9em;
  overflow: auto;
  overflow-scrolling: touch;
  border-left: 3px solid rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.05);
  color: #6a737d;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.markdown-body blockquote p {
  margin: 0px;
  color: black;
  line-height: 26px;
}

.markdown-body .table-of-contents a {
  border: none;
  color: black;
  font-weight: normal;
}

/*链接*/
.markdown-body a {
  text-decoration: none;
  color: #1e6bb8;
  word-wrap: break-word;
  font-weight: bold;
  border-bottom: 1px solid #1e6bb8;
}

/*加粗*/
.markdown-body strong {
  font-weight: bold;
  color: black;
}

/*斜体*/
.markdown-body em {
  font-style: italic;
  color: black;
}

/*加粗斜体*/
.markdown-body em strong {
  font-weight: bold;
  color: black;
}

/*删除线*/
.markdown-body del {
  font-style: italic;
  color: black;
}

/*分隔线*/
.markdown-body hr {
  height: 1px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-top: 1px solid black;
}

/*代码块*/
.markdown-body pre {
  margin-top: 10px;
  margin-bottom: 10px;
}
.markdown-body pre code {
  display: block;
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  border-radius: 0px;
  font-size: 12px;
  -webkit-overflow-scrolling: touch;
}
.markdown-body pre code span {
  line-height: 26px;
}

/*行内代码*/
.markdown-body p code,
.markdown-body li code {
  font-size: 14px;
  word-wrap: break-word;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 2px;
  color: #1e6bb8;
  background-color: rgba(27,31,35,.05);
  font-family: Operator Mono, Consolas, Monaco, Menlo, monospace;
  word-break: break-all;
}

/*图片*/
.markdown-body img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/*图片*/
.markdown-body figure {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*图片描述文字*/
.markdown-body figcaption {
  display: block;
}


/*表格容器 */
.markdown-body .table-container{
  overflow-x: auto;
}

/*表格*/
.markdown-body table {
  display: table;
  text-align: left;
}
.markdown-body tbody {
  border: 0;
}

.markdown-body table tr {
  border: 0;
  border-top: 1px solid #ccc;
  background-color: white;
}

.markdown-body table tr:nth-child(2n) {
  background-color: #F8F8F8;
}

.markdown-body table tr th,
.markdown-body table tr td {
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-align: left;
}

.markdown-body table tr th {
  font-weight: bold;
  background-color: #f0f0f0;
}

/* 表格最小列宽4个汉字 */
.markdown-body table tr th:nth-of-type(n),
.markdown-body table tr td:nth-of-type(n){
  min-width:85px;
}

/* 微信代码块 */
.markdown-body .code-snippet__fix {
  word-wrap: break-word !important;
  font-size: 14px;
  margin: 10px 0;
  display: block;
  color: #333;
  position: relative;
  background-color: rgba(0,0,0,0.03);
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  display: flex;
  line-height: 20px;
}
.markdown-body .code-snippet__fix pre {
  margin-bottom: 10px;
  margin-top: 0px;
}
.markdown-body .code-snippet__fix .code-snippet__line-index {
  counter-reset: line;
  flex-shrink: 0;
  height: 100%;
  padding: 1em;
  list-style-type: none;
  padding: 16px;
  margin: 0;
}
.markdown-body .code-snippet__fix .code-snippet__line-index li {
  list-style-type: none;
  text-align: right;
  line-height: 26px;
  color: black;
  margin: 0;
}
.markdown-body .code-snippet__fix .code-snippet__line-index li::before {
  min-width: 1.5em;
  text-align: right;
  left: -2.5em;
  counter-increment: line;
  content: counter(line);
  display: inline;
  color: rgba(0,0,0,0.3);
}
.markdown-body .code-snippet__fix pre {
  overflow-x: auto;
  padding: 16px;
  padding-left: 0;
  white-space: normal;
  flex: 1;
  -webkit-overflow-scrolling: touch;
}
.markdown-body .code-snippet__fix code {
  text-align: left;
  font-size: 14px;
  display: block;
  white-space: pre;
  display: flex;
  position: relative;
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  padding: 0px;
}

.markdown-body .footnote-word {
  color: #1e6bb8;
  font-weight: bold;
}

.markdown-body .footnote-ref {
  color: #1e6bb8;
  font-weight: bold;
}

.markdown-body .footnote-item {
  display: flex;
}

.markdown-body .footnote-num {
  display: inline;
  width: 10%; /*神奇，50px就不可以*/
  background: none;
  font-size: 80%;
  opacity: 0.6;
  line-height: 26px;
  font-family: ptima-Regular, Optima, PingFangSC-light, PingFangTC-light, 'PingFang SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.markdown-body .footnote-item p {
  display: inline;
  font-size: 14px;
  width: 90%;
  padding: 0px;
  margin: 0;
  line-height: 26px;
  color: black;
  word-break:break-all;
  width: calc(100%-50)
}

.markdown-body sub, sup {
  line-height: 0;
}

.markdown-body .footnotes-sep:before {
  content: "参考资料";
  display: block;
}

/* 解决公式问题 */
.markdown-body .block-equation {
  display:block;
  text-align: center;
  overflow: auto;
  display: block;
  -webkit-overflow-scrolling: touch;
}

.markdown-body .block-equation svg {
  max-width: 300% !important;
  -webkit-overflow-scrolling: touch;
}

.markdown-body .inline-equation {
}

.markdown-body .inline-equation svg {
}

.markdown-body .imageflow-layer1 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  white-space: normal;
  border: 0px none;
  padding: 0px;
  overflow: hidden;
}

.markdown-body .imageflow-layer2 {
  white-space: nowrap;
  width: 100%;
  overflow-x: scroll;
}

.markdown-body .imageflow-layer3 {
  display: inline-block;
  word-wrap: break-word;
  white-space: normal;
  vertical-align: middle;
  width: 100%;
}

.markdown-body .imageflow-img {
  display: inline-block;
}

.markdown-body .imageflow-caption {
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  color: #888;
}

.markdown-body .nice-suffix-juejin-container {
  margin-top: 20px !important;
}

.markdown-body figure a {
  border: none;
}

.markdown-body figure a img {
  margin: 0px;
}

.markdown-body figure {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 图片链接嵌套 */
.markdown-body figure a {
  display: flex;
  justify-content: center;
  align-items: center;
}





/* 蓝莹 主题扩展 */
/* 全局属性 */

.markdown-body {
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
  word-break: break-all;
}

/* 标题 */
.markdown-body h1 {
  font-size: 1.7em;
  font-weight: normal;
  border-bottom: 2px solid hsl(216, 100%, 68%);
}

.markdown-body h1 .content {
  background: hsl(216, 100%, 68%);
  color: white;
  padding: 3px 10px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 3px;
}

.markdown-body h2 {
  font-weight: normal;
  color: #333;
  font-size: 1.4em;
  border-bottom: 1px solid hsl(216, 100%, 68%);
}

.markdown-body h2 .content {
  border-bottom: 1px solid hsl(216, 100%, 68%);
}

.markdown-body h3 {
  font-weight: normal;
  color: #333;
  font-size: 1.2em;
}

/* 特殊规定：
 * h4 → 摘要
 * h5 → 强调
 * h6 → 序号
 * em → 高亮
 */

.markdown-body h4 {
  font-weight: normal;
  font-size: 1em;
  width: 80%;
  border: 1px solid hsl(216, 100%, 68%);
  border-top: 4px solid hsl(216, 100%, 68%);
  padding: 10px;
  margin: 30px auto;
  color: #333;
}

.markdown-body h5 {
  font-weight: normal;
  font-size: 1.3em;
  text-align: center;
  background: hsl(216, 100%, 68%);
  border: 3px double #fff;
  width: 80%;
  padding: 10px;
  margin: 30px auto;
  color: #fff;
}

.markdown-body h6 {
  font-size: 1.5em;
  font-weight: normal;
  color: hsl(216, 100%, 68%);
  border-bottom: 1px solid hsl(216, 100%, 68%);
}

.markdown-body em {
  font-style: normal;
  font-weight: normal;
  color: white;
  background: hsl(244, 100%, 75%);
  padding: 2px 4px;
	margin: 0px 2px;
}

/* 其他块元素 */

.markdown-body ol,
.markdown-body ul {
  padding-left: 2em;
}

.markdown-body hr {
  width: 90%;
  margin: 1.5em auto;
  border-top: 2px dashed hsl(216, 100%, 68%);
}

.markdown-body table {
  margin: 1.5em auto;
  width: auto;
}

.markdown-body img {
  width: 90%;
  margin: 0 auto;
  box-shadow: #CCC 0 10px 15px;
}

/* 图片描述文字 */
.markdown-body figcaption {
  margin-top: 5px;
  text-align: center;
  color: #888;
  font-size: 14px;
}
}

.markdown-body blockquote {
  background: #f9f9f9;
  border-left-color: hsl(216, 100%, 68%);
}

.markdown-body blockquote p {
  color: #999;
  padding: 3px 0;
}

.markdown-body a span {
  color: hsl(187, 100%, 45%);
  font-weight: normal;
  border-bottom-color: hsl(187, 100%, 45%);
}

.markdown-body strong {
  color: hsl(216, 80%, 44%);
}

.markdown-body s,
.markdown-body del {
  color: #999;
}

.markdown-body p,
.markdown-body li,
.markdown-body li span,
.markdown-body h4,
.markdown-body table tr td {
  color: #666;
}

.markdown-body table tr th {
  color: #333;
  font-weight: normal;
}

.markdown-body p code,
.markdown-body li code {
  color: hsl(216, 100%, 68%);
}

.markdown-body sup {
  line-height: 0;
}

.markdown-body .footnote-word,
.footnote-ref {
  font-weight: normal;
  color: hsl(187, 100%, 45%);
}

.markdown-body .footnotes-sep {
  font-family: inherit;
}

.markdown-body .footnote-num {
  font-family: inherit;
}

.markdown-body .footnote-item p {
  color: #666;
}

.markdown-body .footnote-item p em {
  color: #999;
  background: transparent;
}

/* 行间公式
 * 最大宽度 max-width: 300% !important;
 */
.markdown-body .block-equation svg {
}

/* 行内公式
 */
.markdown-body .inline-equation svg {  
}

/* 滑动图片
 */
.markdown-body .imageflow-img {
  display: inline-block;
  width:100%;
  margin-bottom: 0;
}
