/**
 * Highlight.js Theme: Monokai
 * Monokai theme for Sublime Text
 */
pre.hljs, pre code.hljs {
    display: block !important;
    overflow-x: auto !important;
    padding: 1em !important;
    background: #272822 !important;
}
code.hljs {
    background: transparent !important;
}
.hljs {
    background: transparent !important;
    color: #ddd !important;
}
.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-selector-tag,
.hljs-strong,
.hljs-tag {
    color: #f92672 !important;
}
.hljs-code {
    color: #66d9ef !important;
}
.hljs-attribute,
.hljs-link,
.hljs-regexp,
.hljs-symbol {
    color: #bf79db !important;
}
.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-emphasis,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-string,
.hljs-subst,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type,
.hljs-variable {
    color: #a6e22e !important;
}
.hljs-class .hljs-title,
.hljs-title.class_ {
    color: #fff !important;
}
.hljs-comment,
.hljs-deletion,
.hljs-meta,
.hljs-quote {
    color: #75715e !important;
}
.hljs-doctag,
.hljs-keyword,
.hljs-literal,
.hljs-section,
.hljs-selector-id,
.hljs-selector-tag,
.hljs-title,
.hljs-type {
    font-weight: 700 !important;
}
